<?xml version="1.0"?>
<launch>
    <arg name="bags" default="true"/>

    <rosparam command="load" file="$(find glenn_launcher)/params/glennobi_params.yaml"/>

	<include file="$(find glenn_launcher)/launch/uwb_localization/ekf_template.launch"/>
	<include file="$(find glenn_launcher)/launch/obstacle_detection/obstacle_detection.launch"/>
	<include file="$(find glenn_launcher)/launch/autonomy/autonomy.launch"/>

    <include file="$(find glenn_launcher)/launch/glenn_utilities/bagging_node.launch" if="$(arg bags)"/>
</launch>
