<launch>

   <arg name="sim" default="false"/>

   <!-- Launches the realsense-->
   <!-- Navigation Stack sensor_msgs/pointcloud2-->
   <include file="$(find navigation)/launch/realsense_camera.launch" unless="$(arg sim)"/>

   <!-- Launches the localization-->
   <!-- This does the odometry-->
   <include file="$(find uwb_localization)/launch/localization.launch">
      <arg name="sim" value="$(arg sim)"/>
   </include>
    <!-- Needed for cmd_to_wheel_speeds_node-->
   <rosparam command="load" file = "$(find glenn_launcher)/params/glenn_params.yaml"/>

   <!-- Explanatinos of tf-->
   <!-- https://automaticaddison.com/coordinate-frames-and-transforms-for-ros-based-mobile-robots/-->

   <!-- Base Controller-->
   <!-- Relationship between the realsense link and the base_link(our robot)-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="realsense_footprint_link_to_base_link" args="1 0 0 0 0 0 base_link realsense_footprint_link" />

   <!-- Relationship between the camera_link and the realsense_link -->
   <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_to_realsense_footprint_link" args="0 0 0 0 0 0 realsense_footprint_link camera_link" />

   <!-- Starting location of robot-->
 <!--  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom" args="0 0 0 0 0 0 map odom" />
-->

<!-- Base_foot_print is 2d location robot base_link is the link from 2d vertical up to the center of the robot-->
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="odom_to_base_footprint_broadcaster" args="0 0 0 0 0 0 odom base_footprint" />
-->
   <!-- Base_foot_print is 2d location robot base_link is the link from 2d vertical up to the center of the robot-->
   <node pkg="tf2_ros" type="static_transform_publisher" name="base_footprint_to_base_link_broadcaster" args="0 0 1 0 0 0 base_footprint base_link" />

   <!-- base_link to sbg_link TODO find locatino relative to base_link-->
   <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_sbg" args="0 0 0 0 0 0 base_link sbg_link" />


</launch> 