<?xml version="1.0"?>
<launch>
    <node pkg="uwb_localization" name="particle_filter_localization" type="particle_filter_localization_node.py"/>
    <node pkg="message_to_tf" type="message_to_tf" name="message_to_tf" args="/glenn_base/ground_truth_2">
        <param name="footprint_frame_id" value="base_link"/>
    </node>
    <node pkg="topic_tools" type="transform" name="transform" args="/glenn_base/ground_truth /glenn_base/ground_truth_2 geometry_msgs/PoseStamped 'geometry_msgs.msg.PoseStamped(m.header, m.pose.pose)' --import geometry_msgs"/>
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="odom_broadcaster" args="0 0 0 0 0 0 1 ground_truth base_link"/> -->
</launch>
