<launch>
	<rosparam command="load" file="$(env HOME)/NASA-RMC-2020/src/conf/glennobi_params.yaml"/>

	<include file="$(find uwb_localization)/launch/ekf_template.launch"/>
	<include file="$(find obstacle_detection)/launch/obstacle_detection.launch"/>
	<include file="$(find autonomy)/launch/autonomy.launch"/>
</launch>