<?xml version="1.0"?>
<launch>
    <arg name="sim" default="false"/>

    <rosparam command="load" file="$(find uwb_localization)/params/ekf_map.yaml"/>

    <node pkg="uwb_localization" type="wheel_odom_node.py" name="wheel_odom_node" cwd="node" unless="$(arg sim)"/>
    <node pkg="uwb_localization" type="localization_listener_node.py" name="uwb_node" cwd="node" unless="$(arg sim)"/>
    <node pkg="uwb_localization" type="kalman_filter_listener_node.py" name="kalman_filter_node" output="screen" cwd="node"/>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
        <remap from="odometry/filtered" to="/glenn_base/odom_map"/>
    </node>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_odometry">
        <remap from="odometry/filtered" to="/glenn_base/odom_filtered"/>
        <rosparam command="load" file="$(find uwb_localization)/params/ekf_odometry.yaml"/>
    </node>

    <include file="$(find uwb_localization)/launch/sbg_driver.launch" unless="$(arg sim)"/>
    
</launch>
