<launch>

    <arg name="sim" default="false"/>
    <!--
    <include file="$(find sbg_driver)/launch/sbg_device.launch" unless="$(arg sim)">
        <arg name="/confWithRos" value="true"/>
    </include>
    -->
    
    
    <node name="sbg_device" pkg="sbg_driver" type="sbg_device" output="screen" unless="$(arg sim)">
      
        <rosparam command="load" file="$(find sbg_driver)/config/sbg_device_uart_default.yaml"/>
        <param name="confWithRos"  value="true"/>
        <param name="output/ros_standard" value="true"/>
    </node>

</launch>   