# Install with `pip3 install -r requirements.txt`
rospkg
catkin_pkg
matplotlib
numpy
pandas
localization
scipy
filterpy
shapely
scikit-build
opencv-contrib-python

# For smacc Viwer
wxpython
    # For wxpython
    


