<launch>
    <!-- "true" if running roscore from the robot -->
	<arg name="on_robot" value="$(eval '192.168.0.100' in optenv('ROS_MASTER_URI'))"/>

    <rosparam command="load" file = "$(find obstacle_detection)/params/obstacle_detection_params.yaml" ns="obstacle_detection"/>

    <!-- only run if not using simulator -->
    <group if="$(arg on_robot)">
	    <node name="realsense_motion_tracking" pkg="obstacle_detection" type="realsense_motion_tracking.py" cwd="node"/>
	    <node name="obstacle_detection_node" pkg="obstacle_detection" type="obstacle_detection_node.py" cwd="node"/>
	</group>

	<node name="global_occupancy_grid_node" pkg="obstacle_detection" type="global_occupancy_grid.py" output="screen" cwd="node"/>
</launch>
